<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @podcast.title %></h1>
			<p class="description"><%= @podcast.description %></p>
			<% unless @podcast.itunes.blank? %>
				<a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
			<% end %>
			<% unless @podcast.stitcher.blank? %>
				<a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
			<% end %>
			<% unless @podcast.podbay.blank? %>
				<a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
			<% end %>
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to podcasts_path do %>
			All Podcasts
			<span>/</span>
			<%= link_to @podcast.title, podcast_path(@podcast) %>
			<span>/</span>
			<%= @episode.title %>
		<% end %>
	</div>

	<div id="episode_content">
		<div class="wrapper_skinny">
			<%= image_tag @episode.episode_thumbnail.url(:medium), class: "current_episode_thumbnail" %>
			<h2><%= @episode.title %></h2>
			<p class="description"><%= @episode.description %></p>

			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
      <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
          <div class="jp-gui jp-interface">
            <ul class="jp-controls">
              <li><a href="javascript:;" class="jp-play" tabindex="1">&#61515;</a></li>
              <li><a href="javascript:;" class="jp-pause" tabindex="1">&#61516;</a></li>
              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">&#61480;</a></li>
              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">&#61478;</a></li>
            </ul>

            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
              </div>
            </div>

            <div class="jp-time-holder">
              <div class="jp-current-time"></div>
            </div>

            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>

            <div class="jp-no-solution">
              <span>Update Required</span>
              To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @episodes.each do |episode| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="episode.html">
								<%= image_tag episode.episode_thumbnail.url(:medium) %>
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
							<p class="description"><%= truncate(episode.description, length: 160) %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
	  $("#jquery_jplayer_1").jPlayer({
	    ready: function () {
	      $(this).jPlayer("setMedia", {
	        mp3: "<%= @episode.mp3.url %>",
	      });
	    },
	    swfPath: "/js",
	    supplied: "mp3"
	  });
	});
</script>