<!DOCTYPE html>
<html>
<head>
  <title>PodcastFm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if alert %>
	<p class="alert">
		<%= alert %>
	</p>
<% elsif notice %>
	<p class="notice">
		<%= notice %>
	</p>
<% end %>

<header id="main_header" class="cf">
	<div class="wrapper_wide">
		<%= link_to "Podcast.fm", root_path, id: "logo" %>
		<nav>
			<ul>
				<% unless podcast_signed_in? %>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Sign In", new_podcast_session_path %></li>
					<li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
				<% else %>
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>

<%= yield %>

</body>
</html>
